# Database Configuration
DB_HOST=
DB_PORT=
DB_SID=
DB_USER=
DB_PASSWORD=

# Email Configuration
SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

# ML / AI Models
MODEL_PATH=faceidd/models/model.h5

# APIs and Third-Party Services
GEMINI_API_KEY=
GFW_TOKEN=

# Vonage SMS / WhatsApp Integration (used in Equipements)
VONAGE_API_KEY=
VONAGE_API_SECRET=
VONAGE_WHATSAPP_FROM=
